html {
    font-family: arial, sans-serif;
    background-color: RGB(0,91,150);
}

h2 {
    color: white;
    text-align: center;
}

.header {
    /* menu style inline flex */
    display: flex;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    position: sticky;
    top: 0;
}

.menu {
    /* menu style inline flex */
    display: inline-flex;
    gap: 20px;
}

.logo {
    height: 75px;
    width: auto;
}

.chat_icon {
    background-color: white;
    display: flex;
    border-radius: 20%;
    width: 55px;
    height: 50px;
    justify-content: center;
    position: sticky;
    bottom: 5px;
    right: 5px;
}

.chat {
    height: 50px;
    width: 50px;
}

.main_card {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-style: inset;
    padding: 10px;
}

.main_card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.catalogue {
    padding: 10px;
}

table {

    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eee;
}

.faq-list {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-list li {
    margin-bottom: 10px;
}

#catalog_table {
    margin: 30px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: RGB(0,91,150);
    border-radius: 5px;
}